$colour-primary: #1d6154;
$colour-secondary: #fffef8;
$colour-tertiary: #3d3d3d;
$colour-accent: #b1663c;
$colour-white: #fff;
$color-black: black;
$colour-invalid: #db464b;

$colour-modal-grey-light: #e8f1f7;
$colour-modal-grey-dark: #cbd6dc;
$colour-modal-blue: #306685;
$colour-btn-disabled: #a7a7a7;
