/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  display: flex;
  flex-direction: column;
}

/* __________________STICKY FOOTER__________________ */
html,
body {
  height: 100%;
}
main {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  margin: 0 100px;
}
/* _____________________________________________________*/
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 100px;
}

main {
  margin: 0 100px;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction .photo-profil {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#introduction img {
  display: block;
  margin: auto;
  width: 100%;
}

#introduction figcaption {
  padding-top: 0.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  width: 100%;
}

#introduction article {
  flex: 1;
  line-height: 1.3;
  margin-left: 4rem;
}
#introduction h2 {
  margin-bottom: 0.5em;
}

#introduction p {
  margin-bottom: 0.5em;
  margin-right: 3rem;
}

#portfolio h2 {
  text-align: center;
}

#portfolio .titre-portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

#portfolio .edition {
  margin-left: 2rem;
}

#tri {
  display: flex;
  justify-content: center;
}

#tri button {
  display: block; /* à mettre sur none pour enlever, en mode édition */
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #1d6154;
  padding: 0.5rem 0.5rem;
  border: 1px solid #1d6154;
  border-radius: 60px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  background-color: #fffef8;
}

#tri button:focus {
  background-color: #1d6154;
  color: white;
  outline: 0;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* ------------------------------ EDITION ------------------------------------ */

.edition {
  display: none; /* à mettre sur flex pour ajouter, en mode édition */
  /* display: flex; */
  flex-direction: row;
  align-items: baseline;
}

.edition i {
  margin-right: 0.4rem;
}

#logout {
  display: none; /* à mettre sur block pour ajouter, en mode édition */
}

.bandeau-edition {
  display: none;
  flex-direction: row;
  justify-content: center;
  min-height: 4rem;
  width: 100%;
  background-color: black;
  color: white;
}

.publier-changements-btn {
  margin: auto 1rem;
  padding: 0.8rem 2rem;
  background: #ffffff;
  border-radius: 60px;
  color: black;
  text-align: center;
  font-weight: 600;
}

.bandeau-edition .edition {
  margin: auto 1rem;
}

/* ------------------------------MODALE GALLERIE -------------------------- */

/* Arrière plan Modale */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Contenu Modale */
.modal-content {
  background-color: #ffffff;
  width: 50%;
  height: fit-content;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
}

/*  Croix de fermeture */
.close {
  position: relative;
  text-align: right;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: 400;
}

.close:hover,
.close:focus {
  color: black;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.edit-gallery {
  padding: 0 5rem;
  margin-bottom: 2rem;
}

.modal-content p {
  color: #d65353;
}

.modal-content h3 {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  line-height: 30.5px;
  margin-bottom: 2rem;
}

.modal-content .close-cross {
  width: 100%;
  text-align: right;
}

.modal-content .gallery figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.modal-content .gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.trash-can-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 11;
  color: #ffffff;
  background-color: black;
  background-size: auto;
  padding: 0.2rem;
  border-radius: 2px;
}

.size-icon {
  display: none;
  position: absolute;
  top: 5px;
  right: 25px;
  z-index: 11;
  color: #ffffff;
  background-color: black;
  background-size: auto;
  padding: 0.2rem;
  border-radius: 2px;
}

#size-icon-1 {
  display: flex;
}

.trash-can-icon a {
  color: #ffffff;
}

.modal-overlay-container {
  position: relative;
}

hr {
  width: 80%;
}

.modal-content button {
  padding: 0.5rem 2rem;
}

/* ------------------------------MODALE AJOUTER PHOTO -------------------------- */

.import-picture-area {
  background-color: #e8f1f7;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.modal-content-add-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-picture-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#btn-add-picture a {
  color: #ffffff;
}

#add-picture-form {
  margin: auto;
  width: 80%;
}

#add-picture-form form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#add-picture-form .add-pic-input,
select {
  height: 50px;
  width: inherit;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#btn-choose-picture {
  width: fit-content;
  padding-left: 2rem;
  padding-right: 2rem;
}

#add-picture-form label {
  margin: 2em 0 1em 0;
}
#add-picture-form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#add-picture-form span {
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

#add-picture-form hr {
  width: 100%;
  margin-top: 3rem;
}

#btn-valid-add-picture {
  margin: 2rem auto;
}

.photo-display-area {
  margin: 1rem auto;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.photo-display-area i {
  font-size: 5rem;
  color: #b9c5cc;
  display: flex;
  align-items: center;
}

.nav-symbols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.hidden-btn-input {
  padding: 0.5rem 2rem;
  border: 1px solid #cbd6dc;
  border-radius: 60px;
  color: #306685;
  background-color: #cbd6dc;
  font-family: "Syne";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 1rem 0.5rem;
}

/* ------------------------------DISPLAY PREVIEW IMAGE -------------------------- */

output {
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 15px;
  position: relative;
  border-radius: 5px;
}

output .image {
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
}

output .image img {
  height: 100%;
  width: 100%;
}

output .image span {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  font-size: 22px;
  color: white;
}

output .image span:hover {
  opacity: 0.8;
}

output .span--hidden {
  visibility: hidden;
}

.photo-display-area {
  display: flex;
}

.image-preview {
  display: none;
}
