/* ------------------------------MODALE GALLERIE -------------------------- */

.edit-gallery {
  padding: 0 5rem;
  margin-bottom: 2rem;
}

.modal-content p {
  color: #d65353;
}

.modal-content h3 {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  line-height: 30.5px;
  margin-bottom: 2rem;
}

.modal-content .close {
  width: 100%;
  text-align: right;
}

.modal-content .gallery figcaption {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.modal-content .gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.trash-can-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 11;
  color: #ffffff;
  background-color: black;
  background-size: auto;
  padding: 0.2rem;
  border-radius: 2px;
}

.size-icon {
  display: none;
  position: absolute;
  top: 5px;
  right: 25px;
  z-index: 11;
  color: #ffffff;
  background-color: black;
  background-size: auto;
  padding: 0.2rem;
  border-radius: 2px;
}

#size-icon-1 {
  display: flex;
}

.trash-can-icon a {
  color: #ffffff;
}

.modal-overlay-container {
  position: relative;
}

hr {
  width: 80%;
}

.modal-content button {
  padding: 0.5rem 2rem;
}
