.btn {
  padding: 0.5rem 0.5rem;
  border: 1px solid $colour-primary;
  border-radius: 60px;
  margin: 3rem 0.5rem;
  width: fit-content;
  color: $colour-primary;
  background-color: $colour-white;

  &--focus {
    color: $colour-white;
    background-color: $colour-primary;
  }

  &-clear {
    border: 1px solid $colour-modal-grey-dark;
    color: $colour-modal-blue;
    background-color: $colour-modal-grey-dark;
    margin: 1rem 0.5rem;
  }

  &-disabled {
    border: 1px solid $colour-btn-disabled;
    background-color: $colour-btn-disabled;
    color: white;
  }
}
