.size-icon {
  display: none;
  position: absolute;
  top: 5px;
  right: 25px;
  z-index: 11;
  color: #ffffff;
  background-color: black;
  background-size: auto;
  padding: 0.2rem;
  border-radius: 2px;
}

#size-icon-1 {
  display: flex;
}

.trash-can-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 11;
  color: #ffffff;
  background-color: black;
  background-size: auto;
  padding: 0.2rem;
  border-radius: 2px;

  & a {
    color: #ffffff;
  }
}
